<!DOCTYPE html>
<html lang="ja">
<head>
    <link rel="stylesheet" href="./style.css" type="text/css">
    <!-- <link rel="icon" href="./assets/favicon.png"> -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sample page</title>
</head>
<body>
    <h1>sample page</h1>
    <p>
        <a href="./article/public/sample1/sample1.html">Sample1</a>
        <a href="./article/limited/limited_sample/limited_sample.html">Limited sample</a>
    </p>
    
    <hr>
</body>
<footer>
    <p>© 2024 yourname / sample.example.com E-mail: i [at] example.com</p>
</footer>
</html>

